.App {
  text-align: center;
  font-family: 'Roboto';
  background-color: lightgrey;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.trip-wrapper {
  height: 10rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.line-picture {
  width: 15%;
}

.favorite-buttons {
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

.trip-details {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.trip-detail-line {
  margin: 3px;
}

.filter-buttons {
  text-align: center;
}

